.inputWrap {
  display: flex; 
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
    padding-right: 32px;
    width: 100%;
  }

  .status {
    position: absolute;
    font-size: 12px;
    right: 10px;
    cursor: help;
  }
}